profiles {

	base {
		withLabel: 'prune_snp' {
			memory = 8.GB
			time = '40m'
			cpus = 8
		}

        withLabel: 'plink' {
			memory = 8.GB
			time = '20m'
			cpus = 8
		}
	}

	slurm {
		process {

			withLabel: 'prune_snp' {
				clusterOptions = "--account=${params.account} --output=prunesnp.out --mail-type=END --mail-user=${params.email} --job-name=prune_snp"	
			}

            withLabel: 'plink' {
				clusterOptions = "--account=${params.account} --output=plink.out --mail-type=END --mail-user=${params.email} --job-name=plink"	
			}
		}
	}

}