profiles {

	base {
		withLabel: 'prune_snp' {
			memory = 16.GB
			time = '1h'
			cpus = 8
		}

        withLabel: 'plink' {
			memory = 8.GB
			time = '20m'
			cpus = 8
		}

		withLabel: 'admixture' {
			memory = 4.GB
			time = '20m'
			cpus = 4
		}

		withLabel: 'plot_results' {
			memory = 8.GB
			time = '20m'
			cpus = 8
		}
	}

	slurm {
		process {

			withLabel: 'prune_snp' {
				clusterOptions = "--account=${params.account} --output=prunesnp.out --mail-type=END --mail-user=${params.email} --job-name=prune_snp"	
			}

            withLabel: 'plink' {
				clusterOptions = "--account=${params.account} --output=plink.out --mail-type=END --mail-user=${params.email} --job-name=plink"	
			}

			withLabel: 'admixture' {
				clusterOptions = "--account=${params.account} --output=admixture.out --mail-type=END --mail-user=${params.email} --job-name=admixture"	
			}

			withLabel: 'plot_results' {
				clusterOptions = "--account=${params.account} --output=plot.out --mail-type=END --mail-user=${params.email} --job-name=plot_results"	
			}
		}
	}

}