import groovy.json.JsonSlurper

def jsonSlurper = new JsonSlurper()
def configFile = new File("${launchDir}/params.json")
def json = jsonSlurper.parse(configFile)

includeConfig "subworkflows/dnaseq/dnaseq.config"

params {
	account = json.account_name
	email = json.email
	apptainer = json.apptainer
	temp_dir = json.temp_files
}

profiles {

	base {
		
	}

	standard {
		executor = 'local'
	}

	slurm {
		process {
			executor = 'slurm'
		}
	}

}
