import groovy.json.JsonSlurper

def jsonSlurper = new JsonSlurper()
def configFile = new File("${launchDir}/params.json")
def json = jsonSlurper.parse(configFile)

params {
	account = json.account_name
	email = json.email
	apptainer = json.apptainer
	temp_dir = json.temp_files
	blob = json.blob
	reference = json.reference
	start_vcf = json.start_from_vcf
	trim = json.trim
	recalibrate = json.recalibrate
	vcf_ready = json.vcf_ready
	vcf_file = json.vcf_file
	kmin = json.kmin
	kmax = json.kmax
}

includeConfig "subworkflows/dnaseq/dnaseq.config"
includeConfig "subworkflows/admixture/admixture.config"

profiles {

	base {
		
	}

	standard {
		executor = 'local'
	}

	slurm {
		process {
			executor = 'slurm'
		}
	}

}
